body {
    .center;
}

h1 {
    font-family: @font-stack1 !important;
    color: @first-color !important;
    text-align: center;
}

.landing-page {
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    margin: 0 auto;
}



