.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: 'Helvetica';
  font-size: 200px;
  color: red;
}
.landing-page {
  width: 1000px;
  height: 1000px;
  border: 2px solid black;
  margin: 0 auto;
}
body {
  background-color: #1F1E62 !important;
}
.container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
h1 {
  font-family: 'Eater', cursive !important;
  color: #ECE641 !important;
}
.login-form {
  color: #ECE641 !important;
  font-family: 'Oswald', sans-serif !important;
}
input:invalid {
  border: 2px dashed red !important;
}
input:valid {
  border: 2px solid black !important;
}
.btn {
  background-color: #ECE641 !important;
  color: #1F1E62;
  font-family: 'Eater', cursive !important;
}
h1 {
  font-family: 'Eater', cursive !important;
  color: #ECE641 !important;
}
.signup-form {
  color: #ECE641 !important;
  font-family: 'Oswald', sans-serif !important;
}
