.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: 'Eater', cursive !important;
  color: #1F1E62 !important;
  text-align: center;
}
.landing-page {
  width: 1000px;
  height: 1000px;
  border: 2px solid black;
  margin: 0 auto;
}
