.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
html,
body {
  background-color: #1F1E62 !important;
  color: #ECE641;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F1E62;
  color: #ECE641;
}
h1 {
  font-family: 'Eater', cursive !important;
  color: #ECE641 !important;
  text-align: center;
}
.landing-page {
  width: 1000px;
  min-height: 1000px;
  border: 2px solid #ECE641;
  border-radius: 10px;
  margin: 0 auto;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  width: 1000px;
  margin: 0 auto;
}
.btn-col {
  display: flex;
  justify-content: center;
}
.theNight {
  background-color: black;
  color: white;
  padding: 20px;
}
.theDay {
  background-color: #ECE641 !important;
  color: #1F1E62;
  padding: 20px;
}
body {
  background-color: #1F1E62 !important;
}
.container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
h1 {
  font-family: 'Eater', cursive !important;
  color: #ECE641 !important;
}
.login-form {
  color: #ECE641 !important;
  font-family: 'Oswald', sans-serif !important;
  width: 400px;
}
input:invalid {
  border: 2px dashed red !important;
}
input:valid {
  border: 2px solid black !important;
}
.btn {
  background-color: #ECE641 !important;
  color: #1F1E62 !important;
  font-family: 'Eater', cursive !important;
}
.container {
  display: flex;
  flex-flow: column wrap;
}
.container,
.welcomeRow,
.chatRow {
  width: 1000px;
}
.welcomeRow p {
  color: #ECE641 !important;
  font-family: 'Oswald', sans-serif !important;
}
.welcomeRow {
  text-align: center;
}
.conversationsList {
  border: 1px solid #ECE641 !important;
  height: 600px;
  width: 400px;
}
.chatBox {
  border: 1px solid #ECE641 !important;
  height: 600px;
  width: 600px;
}
h1 {
  font-family: 'Eater', cursive !important;
  color: #ECE641 !important;
}
.signup-form {
  color: #ECE641 !important;
  font-family: 'Oswald', sans-serif !important;
  width: 400px;
}
